<% local_form = local_form.nil? ? true : local_form %>
<%= form_with(model: yarn_company, local: local_form, id: 'yarn_company_form') do |f| %>
  <% if yarn_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(yarn_company.errors.count, "error") %> prohibited this yarn company from being saved:</h2>

      <ul>
        <% yarn_company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :name %> <%= f.text_field :name %>
  </div>

  <div class='form-group'>
    <%= f.label :website%> <%= f.text_field :website %>
  </div>

  <div class='form-group'>
    <%= f.label :referral_link %> <%= f.text_field :referral_link %>
  </div>

  <div class='form-group'>
    <%= f.label :referral_partner %> <%= f.text_field :referral_partner %>
  </div>

  <div class='form-group'>
    <%= f.label :description %> <%= f.text_area :description %>
  </div>

  <%= f.submit 'Add Yarn Company' %>
<% end %>
