<%= form_with(model: journal_entry, local: true) do |f| %>
  <div class='form-group'>
    <%= f.text_field :entry_timestamp %>
  </div>
  <div class='form-group'>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <%= f.hidden_field :project_id %>
  <%= f.submit %>
<% end %>
