<div class="row">

  <div class="col-lg-3">
    <h1 class="my-4"><%= @project_user.try(:name) || 'Anonymous Crafter' %>'s Projects</h1>
    <% if @project_user == current_user %>
      <div class="list-group">
        <%= link_to 'New Project', new_project_path, class: 'list-group-item' %>
      </div>
    <% end %>
  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">

    <div class="row">

      <% @projects.each do |project| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <% if project.thumb_images.first %>
            <div class='square-container'>
              <%= image_tag(project.thumb_images.first, class: 'card-img-top') %>
            </div>
          <% end %>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to project.name, project, class: 'stretched-link' %>
            </h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <!-- /.row -->

    <div class='row'><div class='col'><%= page_entries_info(@projects, entry_name: 'items') %></div></div>
    <div class='row'><div class='col'><%= paginate @projects %></div></div>

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->

