<div class="row">

  <div class="col-xl-2 col-lg-2">
    <h1 class="my-4"><%= @project_user.try(:name) || 'Anonymous Crafter' %>'s Projects</h1>

    <h2 class='my-2'>Search</h2>
    <div>
      <%= search_form_for(@q, url: projects_crafter_path(@project_user.id) ) do |f| %>
        <div class='form-group'>
          <%= f.label :name_cont, 'Project name contains' %>
          <%= f.search_field :name_cont, class: 'form-control' %>
        </div>

        <%= f.submit 'Search', class: 'btn btn-primary mt-2' %>
      <% end %>
    </div>

    <h2 class='mt-4'>Sort by</h2>
    <div><%= sort_link(@q, :name, 'Project name') %></div>
    <div><%= sort_link(@q, :created_at) %></div>

    <% if @project_user == current_user %>
      <div class="my-4 list-group">
        <%= link_to 'New Project', new_project_path, class: 'list-group-item' %>
      </div>
    <% end %>
  </div>
  <!-- /.col-lg-3 -->

  <div class="col-10">

    <div class="row">

      <% @projects.each do |project| %>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class='square-container'>
            <% if project.thumb_images.last %>
              <%= image_tag(project.thumb_images.last, class: 'card-img-top') %>
            <% end %>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to project.name, project, class: 'stretched-link' %>
            </h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <!-- /.row -->

    <div class='row'><div class='col'><%= page_entries_info(@projects, entry_name: 'items') %></div></div>
    <div class='row'><div class='col'><%= paginate @projects %></div></div>

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->

