<%= form_with(model: stash_yarn, local: true) do |f| %>
  <% if stash_yarn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stash_yarn.errors.count, "error") %> prohibited this stash entry from being saved:</h2>

      <ul>
        <% stash_yarn.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= label_tag 'yarn_company_search', 'Yarn company' %>
    <%= text_field_tag 'yarn_company_search', stash_yarn&.yarn_product&.yarn_company&.name %>
    <%= hidden_field_tag 'yarn_company_id' %>
  </div>

  <div class='form-group'>
    <%= label_tag 'yarn_product_search', 'Yarn name' %>
    <%= text_field_tag 'yarn_product_search', stash_yarn&.yarn_product&.name %>
    <%= f.hidden_field :yarn_product_id %>
  </div>

  <div class='form-group'>
    <%= label_tag 'colorway_search', 'Colorway' %>
    <%= text_field_tag 'colorway_search', stash_yarn.colorway_name %>
    <%= f.hidden_field :colorway_id %>
  </div>

  <div class='form-group'>
    <%= f.label :purchase_date %> <%= f.text_field :purchase_date, placeholder: "example: #{Date.current}" %>
  </div>

  <div class='form-group'>
    <%= f.label :purchased_at_name, 'I bought this from' %> <%= f.text_field :purchased_at_name %>
  </div>

  <div class='form-group'>
    <%= f.label :purchase_price %> <%= f.text_field :purchase_price %>
  </div>

  <div class='form-group'>
    <%= f.label :skein_quantity, 'Number of skeins' %> <%= f.text_field :skein_quantity %>
  </div>

  <div class='form-group'>
    <%= f.label :total_yardage %> <%= f.text_field :total_yardage %>
  </div>

  <% unless stash_yarn.yarn_product %>
    <div class='form-group'>
      <%= f.label :weight_id, 'Yarn weight' %>
      <%= f.select :weight_id, options_for_select(stash_yarn.common_weight_select_options, stash_yarn.weight_id) %>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :image, 'Add a picture' %> <%= f.file_field :image %>
    <p class='text-muted'><small><%= image_attribution_notice %></small></p>
  </div>

  <%= f.submit 'Stash it!' %>
<% end %>

<script type='text/javascript'>
  $(document).ready(_ => {
    $('#yarn_company_search').easyAutocomplete({
      url: search_term => { return '/yarn_companies/autocomplete_name.json?name=' + search_term },
      getValue: 'name',
      placeholder: 'Type a yarn company name',
      requestDelay: 500,
      list: {
        sort: { enabled: true },
        onChooseEvent: _ => {
          var itemValue = $('#yarn_company_search').getSelectedItemData().id;
          $('#yarn_company_id').val(itemValue);
        }
      }
    });

    $('#yarn_product_search').easyAutocomplete({
      getValue: 'name',
      placeholder: 'Type the name of the yarn',
      requestDelay: 500,
      url: search_term => {
        companyId = $('#yarn_company_id').val();
        return '/yarn_database/autocomplete_name.json?name=' + search_term + '&id=' + companyId;
      },
      list: {
        sort: { enabled: true },
        onChooseEvent: _ => {
          itemValue = $('#yarn_product_search').getSelectedItemData().id;
          $('#stash_yarn_yarn_product_id').val(itemValue);
        }
      }
    });

    $('#colorway_search').easyAutocomplete({
      getValue: 'name',
      placeholder: 'Type the name of the colorway',
      requestDelay: 500,
      url: search_term => {
        productId = $('#stash_yarn_yarn_product_id').val();
        return '/yarn_database/' + productId + '/colorways/autocomplete_name_or_number.json?term=' + search_term;
      },
      list: {
        sort: { enabled: true },
        onChooseEvent: _ => {
          itemValue = $('#colorway_search').getSelectedItemData().id;
          $('#stash_yarn_colorway_id').val(itemValue);
        }
      }
    });
  });
</script>
