<% presenter = StashYarnPresenter %>

<div class="row">

  <div class="col-xl-2 col-lg-2">
    <h1 class="my-4"><%= presenter.page_title %></h1>
    <div class="list-group">
      <%= presenter.sidebar %>
    </div>
    <div class='my-4'>
      <%= render presenter.sorting_options_partial %>
    </div>
  </div>

  <div class="col-10">
    <div class="row">
      <% @stash_yarns.each do |stash_yarn| %>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <% unless stash_yarn.image.blank? %>
            <div class='square-container'>
              <%= image_tag(stash_yarn.thumb_image, class: 'card-img-top') %>
            </div>
          <% end %>
          <div class="card-body">
            <h4 class="card-title">
              <%= presenter.card_title stash_yarn %>
            </h4>
            <%= presenter.card_description stash_yarn %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class='row'><div class='col'><%= page_entries_info(@stash_yarns, entry_name: 'items') %></div></div>
    <div class='row'><div class='col'><%= paginate @stash_yarns %></div></div>

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->

