<% presenter = StashYarnPresenter %>

<div class="row">

  <div class="col-xl-2 col-lg-2">
    <h1 class="my-4"><%= presenter.page_title %></h1>

    <h2 class='my-2'>Search</h2>
    <div>
      <%= search_form_for @q do |f| %>
        <div class='form-group'>
          <%= f.label :name_or_yarn_product_name_cont, 'Yarn name contains' %>
          <%= f.search_field :name_or_yarn_product_name_cont, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :yarn_product_yarn_company_name_cont, 'Yarn maker name contains' %>
          <%= f.search_field :yarn_product_yarn_company_name_cont, class: 'form-control' %>
        </div>

        <%= f.submit 'Search', class: 'btn btn-primary mt-2' %>
      <% end %>
    </div>

    <h2 class='mt-4'>Sort by</h2>
    <div><%= sort_link(@q, :yarn_name, 'Yarn name') %></div>
    <div><%= sort_link(@q, :yarn_maker_name, 'Yarn maker name') %></div>
    <div><%= sort_link(@q, :created_at) %></div>

    <div class="my-4 list-group">
      <%= presenter.sidebar %>
    </div>
  </div>

  <div class="col-10">
    <div class="row">
      <% @stash_yarns.each do |stash_yarn| %>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class='square-container'>
            <% unless stash_yarn.image.blank? %>
              <%= image_tag(stash_yarn.thumb_image, class: 'card-img-top') %>
            <% end %>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              <%= presenter.card_title stash_yarn %>
            </h4>
            <%= presenter.card_description stash_yarn %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class='row'><div class='col'><%= page_entries_info(@stash_yarns, entry_name: 'items') %></div></div>
    <div class='row'><div class='col'><%= paginate @stash_yarns %></div></div>

  </div>
</div>
