<h1><%= @stash_yarn.name %> <%= link_to icon('far', 'edit'), edit_stash_yarn_path(@stash_yarn) %></h1>

<div class='row'>
  <div class='col'>
    <% unless @stash_yarn.image.blank? %>
      <%= image_tag @stash_yarn.full_image, class: 'img-fluid border border-primary rounded' %>
      <%= @stash_yarn.image.image_attribution %>
    <% end %>
  </div>

  <div class='col'>
    <% if @stash_yarn.handspun %>
      <p>Handspun</p>
    <% end %>

    <p>Colorway <strong><%= @stash_yarn.colorway_name %></strong></p>
    <% if @stash_yarn.dye_lot %>
      <p>Dye lot <strong><%= @stash_yarn.dye_lot %></strong></p>
    <% end %>

    <p><%= pluralize(@stash_yarn.skein_quantity, 'skein') %>, <%= @stash_yarn.total_yardage %> total yards</p>

    <p><strong><%= @stash_yarn.weight_name %></strong> weight</p>

    <% if belongs_to_current_user?(@stash_yarn) %>
      <p>
      <%= "Purchased at #{@stash_yarn.purchased_at_name}" if @stash_yarn.purchased_at_name %>
      <%= "on #{@stash_yarn.purchase_date}" if @stash_yarn.purchase_date %>
      <%= "for #{@stash_yarn.purchase_price}" if @stash_yarn.purchase_price %>
      </p>
    <% end %>

    <hr>

    <% if @stash_yarn.notes %>
      <h4>Notes</h4>
      <p><%= @stash_yarn.notes %></p>
    <% end %>

    <hr>

    <% if @stash_yarn.projects.any? %>
      <h4>Used in projects</h4>
      <% @stash_yarn.projects.each do |project| %>
        <%= @project.name %>
      <% end %>

      <h5>Add this yarn to another project</h5>
    <% else %>
      <h5>Add this yarn to a project</h5>
    <% end %>

    <div class='form-group'>
      <input type='text' id='project-add'>
    </div>
  </div>
</div>

<% if belongs_to_current_user?(@stash_yarn) %>
<div class='container'>
  <%= link_to 'Add another yarn to My Stash', new_stash_yarn_path, class: 'btn btn-primary' %>
</div>
<% end %>

<script type='text/javascript'>
  $(document).ready(_ => {
    $('#project-add').easyAutocomplete({
      url: search_term => { return '/crafters/autocomplete_project_name_for_current_user.json?name=' + search_term },
      getValue: 'name',
      placeholder: 'Type the name of your project',
      requestDelay: 500,
      list: {
        sort: { enabled: true },
        onChooseEvent: _ => {
          var itemValue = $('#project-add').getSelectedItemData().id;
          console.log(itemValue);
        }
      }
    });
  });
</script>
