<%= form_with(model: project, local: true) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= label_tag :craft %>
    <%= f.select :craft_id, Craft.all.map {|c| [c.name, c.id]}, {}, { class: 'form-select' } %>
  </div>
  <div class='mb-3'>
    <%= label_tag :name, 'Project name' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='mb-3'>
    <%= label_tag :pattern_name, 'Pattern name' %>
    <%= f.text_field :pattern_name, class: 'form-control' %>
  </div>
  <div class='mb-3'>
    <%= label_tag :status_name, 'Project status' %>
    <%= f.text_field :status_name, class: 'form-control' %>
  </div>
  <div class='mb-3'>
    <%= f.radio_button :publicly_visible, false, class: 'form-check-input' %>
    <%= f.label :publicly_visible, 'Visible only to logged in crafters', value: false, class: 'form-check-label' %>
    <br>
    <%= f.radio_button :publicly_visible, true, class: 'form-check-input' %>
    <%= f.label :publicly_visible, 'Visible to everyone even if they aren\'t a member', value: true, class: 'form-check-label' %>
  </div>
  <div class='mb-3'>
    <%= label_tag :notes %>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>
  <div class='mb-3'>
    <%= f.label :private_notes %>
    <%= f.text_area :private_notes, class: 'form-control' %>
  </div>
  <div class='mb-3'>
    <%= f.label :tools_freetext, 'Tools used (for example, size 7 crochet hook)' %>
    <%= f.text_field :tools_freetext, class: 'form-control' %>
  </div>
  <div class='mb-3'>
    <%= label_tag :images %>
    <%= f.file_field :images, multiple: true, class: 'form-control' %>
    <p class='text-muted'><small><%= image_attribution_notice %></small></p>
  </div>
  <%= f.submit %>
<% end %>
