<%= form_with(model: project, local: true) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= label_tag :craft %>
    <%= f.select :craft_id, Craft.all.map {|c| [c.name, c.id]} %>
  </div>
  <div class='form-group'>
    <%= label_tag :name, 'Project name' %>
    <%= f.text_field :name %>
  </div>
  <div class='form-group'>
    <%= label_tag :pattern_name, 'Pattern name' %>
    <%= f.text_field :pattern_name %>
  </div>
  <div class='form-group'>
    <%= label_tag :status_name, 'Project status' %>
    <%= f.text_field :status_name %>
  </div>
  <div class='form-group'>
    <%= label_tag :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class='form-group'>
    <%= label_tag :images %>
    <%= f.file_field :images, multiple: true %>
  </div>
  <%= f.submit %>
<% end %>
