<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, strikethrough: true) %>

<h1>
  <%= @project.name %>
  <small class='text-muted'><small><%= @project.status_name %></small></small>
</h1>

<div class='row text-center text-lg-left py-4'>
  <% @project.images.each do |image| %>
    <div class='col-lg-3 col-md-4 col-6'>
      <%= image_tag image, class: 'img-fluid img-thumbnail' %>
    </div>
  <% end %>
</div>

<div class='container'>
  <strong><%= @project.craft.name %></strong> project
  <% if @project.pattern_name %>
    &bull; <strong><%= @project.pattern_name %></strong> pattern
  <% end %>
</div>

<div class='container'>
  <strong>Tools</strong> <%= @project.tools_freetext %>
</div>

<div class='container'>
  Visible to <strong><%= @project.publicly_visible? ? 'Everyone, even if they are not a member' : 'Only logged in members' %></strong>
</div>

<div class='container'>
  <strong>Notes</strong> <%= @project.notes %>
</div>

<div class='container'>
  <strong>Private notes</strong> <%= @project.private_notes %>
</div>

<hr>

<div class='container'>
  <h4>
    Project journal
    <a class='btn btn-outline-primary btn-sm' data-toggle='collapse' href='#journalForm' role='button' aria-expanded='false' aria-controls='journalForm'>New journal entry ▼</a>
  </h4>

  <div class='collapse' id='journalForm'>
    <%= render 'journal_entries/form', journal_entry: JournalEntry.new(entry_timestamp: Time.current, project_id: @project.id) %>
  </div>

  <hr>
  <% @project.journal_entries.order(entry_timestamp: :desc).each do |j| %>
    <p>
      <%= j.entry_timestamp %>
      <a data-toggle='collapse' href='#journalForm-<%= j.id %>' aria-expanded='false' aria-controls='journalForm-<%= j.id %>'><%= icon('fas', 'edit') %></a>
      <div class='collapse' id='journalForm-<%= j.id %>'>
        <%= render 'journal_entries/form', journal_entry: j %>
      </div>
    </p>
    <p><%= ActiveSupport::SafeBuffer.new(markdown.render j.content) %></p>
    <hr>
  <% end %>
</div>

<% if user_signed_in? && @project.user == current_user %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<% end %>
