<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, strikethrough: true) %>

<h1>
  <%= @project.name %>
  <small class='text-muted'><small><%= @project.status_name %></small></small>
  <%= link_to icon('far', 'edit'), edit_project_path(@project) if user_signed_in? && @project.user == current_user %>
</h1>

<h4>by <%= link_to @project.user.name, crafter_path(@project.user_id) %></h4>

<div class='row text-center text-lg-left py-4'>
  <% @project.thumb_and_full_images.each do |variants| %>
    <div class='col-lg-3 col-md-4 col-6'>
      <a href='<%= url_for(variants[:full]) %>' target='_blank'>
        <%= image_tag variants[:thumb], class: 'img-fluid img-thumbnail' %>
      </a>
      <%= variants[:full].image_attribution %>
    </div>
  <% end %>
</div>

<div class='container'>
  <dl class='row'>
    <dd class='col-sm-1 text-right'>Craft</dd> <dt class='col-sm-11'><%= @project.craft.name %></dt>

    <% if @project.pattern_name %>
      <dd class='col-sm-1 text-right'>Pattern</dd> <dt class='col-sm-11'><%= @project.pattern_name %></dt>
    <% end %>

    <% if @project.tools_freetext %>
      <dd class='col-sm-1 text-right'>Tools</dd> <dt class='col-sm-11'><%= @project.tools_freetext %></dt>
    <% end %>

    <% if user_signed_in? %>
      <dd class='col-sm-1 text-right'>Visible to</dd> <dt class='col-sm-11'><%= @project.publicly_visible? ? 'Everyone, even if they are not a member' : 'Only logged in members' %></dt>
    <% end %>

    <% unless @project.notes.blank? %>
      <dd class='col-sm-1 text-right'>Notes</dd> <dt class='col-sm-11'><%= @project.notes %></dt>
    <% end %>

    <% if user_signed_in? && @project.user == current_user && !@project.private_notes.blank? %>
      <dd class='col-sm-1 text-right'>Private notes</dd> <dt class='col-sm-11'><%= @project.private_notes %></dt>
    <% end %>

    <% if @project.stash_usages.any? %>
      <dd class='col-sm-1 text-right'>Yarn used</dd> <dt class='col-sm-11'>
      <% @project.stash_usages.each do |usage| %>
        <% yarn_title = usage&.stash_yarn&.name
        yarn_title << " (#{usage.yards_used} yards)" if usage.yards_used > 0
      %>
        <% if user_signed_in? && @project.user == current_user %>
          <%= link_to yarn_title, usage.stash_yarn, class: 'fw-normal btn btn-outline-primary mb-1' %>
        <% else %>
          <%= link_to yarn_title, yarn_product_path(usage.stash_yarn.yarn_product_id), class: 'fw-normal btn btn-outline-primary mb-1' %>
        <% end %>
      <% end %>
      </dt>
    <% end %>
  </dl>
</div>

<hr>

<div class='container'>
  <h4>
    Project journal
    <% if user_signed_in? && @project.user == current_user %>
      <a class='btn btn-primary btn-sm ms-2' data-bs-toggle='collapse' href='#journalForm' role='button' aria-expanded='false' aria-controls='journalForm'>New journal entry ▼</a>
    <% end %>
  </h4>

  <div class='collapse mb-3' id='journalForm'>
    <%= render 'journal_entries/form', journal_entry: JournalEntry.new(entry_timestamp: Time.current, project_id: @project.id) %>
  </div>

  <% @project.journal_entries.order(entry_timestamp: :desc).each do |j| %>
    <p>
    <strong><%= j.entry_timestamp %></strong>

    <% if user_signed_in? && @project.user == current_user %>
      <a data-bs-toggle='collapse' href='#journalForm-<%= j.id %>' aria-expanded='false' aria-controls='journalForm-<%= j.id %>'><%= icon('fas', 'edit') %></a>
    <% end %>

    <div class='collapse' id='journalForm-<%= j.id %>'>
      <%= render 'journal_entries/form', journal_entry: j %>
    </div>
    </p>

    <p><%= ActiveSupport::SafeBuffer.new(markdown.render j.content) %></p>
    <hr>
  <% end %>
</div>

<% if belongs_to_current_user?(@project) %>
<div class='container'>
  <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
</div>
<% end %>
