<%= form_with(model: yarn_product, local: true) do |f| %>
  <% if yarn_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(yarn_product.errors.count, "error") %> prohibited this yarn from being saved:</h2>

      <ul>
        <% yarn_product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= label_tag 'Yarn company name' %> <%= text_field_tag :yarn_company_search, yarn_product&.yarn_company&.name %>
    <%= f.hidden_field :yarn_company_id %>
  </div>

  <div class='form-group'>
    <%= f.label :name, 'Yarn name' %> <%= f.text_field :name %>
  </div>

  <div class='form-group'>
    <%= f.label :skein_gram_weight, 'Skein weight in grams' %> <%= f.text_field :skein_gram_weight %>
  </div>

  <div class='form-group'>
    <%= f.label :skein_yards, 'Skein yardage' %> <%= f.text_field :skein_yards %>
  </div>

  <div class='form-group'>
    <%= f.label :fiber_type_name, 'Fiber type description' %> <%= f.text_field :fiber_type_name %>
  </div>

  <div class='form-group' id='its_full_of_tags'>
    <% yarn_product.fiber_content_list.each do |tag| %>
      <span class='badge badge-primary badge-pill font-weight-normal'>
        <%= tag %><%= link_to icon('far', 'trash-alt'), '#', class: 'text-white pl-2', 'data-tag-name' => tag %>
      </span>
    <% end %>
    <span id='proto' class='badge badge-primary badge-pill font-weight-normal' style='display:none'>
      <%= link_to icon('far', 'trash-alt'), '#', class: 'text-white pl-2' %>
    </span>
  </div>

  <div class='form-group'>
    <%= text_field_tag 'tag-add' %>
    <%= hidden_field_tag :fiber_content_tags, yarn_product.fiber_content_list.to_json %>
  </div>

  <div class='form-group'>
    <%= f.label :weight_id, 'Yarn weight' %>
    <%= f.select :weight_id, options_for_select(yarn_product.common_weight_select_options, yarn_product.weight_id) %>
  </div>

  <% if policy(yarn_product).edit_referral_links? %>
    <div class='form-group'>
      <%= f.label :referral_link %> <%= f.text_field :referral_link %>
    </div>

    <div class='form-group'>
      <%= f.label :referral_partner %> <%= f.text_field :referral_partner %>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :description %> <%= f.text_area :description %>
  </div>

  <div class='form-group'>
    <%= f.label :image, 'Add a picture' %> <%= f.file_field :image %>
    <p class='text-muted'><small><%= image_attribution_notice %></small></p>
  </div>

  <%= f.submit 'Add yarn to database' %>
<% end %>

<script type='text/javascript'>
  $(document).ready(_ => {
    var fiberTypes = <%= ActiveSupport::SafeBuffer.new(FIBER_TYPES.flatten(2).to_json) %>;
    $('#tag-add').easyAutocomplete({
      data: fiberTypes,
      placeholder: 'Type to add a new tag',
      list: {
        match: { enabled: true },
        sort: { enabled: true },
        onChooseEvent: _ => {
          var itemValue = $('#tag-add').getSelectedItemData();
          addTag(itemValue);
          $('#tag-add').val('');
        }
      }
    });

    $('#yarn_company_search').easyAutocomplete({
      url: function(search_term) { return '/yarn_companies/autocomplete_name.json?name=' + search_term },
      getValue: 'name',
      placeholder: 'Type a yarn company name',
      requestDelay: 500,
      list: {
        sort: { enabled: true },
        onChooseEvent: function() {
          var itemValue = $('#yarn_company_search').getSelectedItemData().id;
          $('#yarn_product_yarn_company_id').val(itemValue);
        }
      }
    });
  });

  // add a tag
  function addTag(item) {
    newElement = $('#proto').clone(true);
    newElement.removeAttr('id');
    $(newElement).children('a').data('tagName', item);
    $(newElement).prepend(item);
    newElement.show();
    tags = JSON.parse($('#fiber_content_tags').val());
    tags.push(item);
    $('#fiber_content_tags').val(JSON.stringify(tags));
    $('#its_full_of_tags').append(newElement);
  }

  // delete a tag
  $('.fa-trash-alt').click(event => {
    link = $(event.currentTarget).parent();
    tag_name = $(link).data('tag-name');
    tags = JSON.parse($('#fiber_content_tags').val());
    tagIndex = tags.indexOf(tag_name);
    tags.splice(tagIndex, 1);
    $('#fiber_content_tags').val(JSON.stringify(tags));
    link.parent().remove();
  });
</script>
