<%= form_with(model: yarn_product, url: url_for_yarn_database, local: true) do |f| %>
  <% if yarn_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(yarn_product.errors.count, "error") %> prohibited this yarn from being saved:</h2>

      <ul>
        <% yarn_product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :yarn_company_id, 'Yarn company' %>
    <%= f.collection_select(:yarn_company_id, @yarn_companies, :id, :name, include_blank: true) %>
  </div>

  <div class='form-group'>
    <%= f.label :name %> <%= f.text_field :name %>
  </div>

  <div class='form-group'>
    <%= f.label :skein_gram_weight, 'Skein weight in grams' %> <%= f.text_field :skein_gram_weight %>
  </div>

  <div class='form-group'>
    <%= f.label :skein_yards, 'Skein yardage' %> <%= f.text_field :skein_yards %>
  </div>

  <div class='form-group'>
    <%= f.label :fiber_type_name, 'Fiber types' %> <%= f.text_field :fiber_type_name %>
  </div>

  <div class='form-group'>
    <%= f.label :weight_id, 'Yarn weight' %>
    <%= f.select :weight_id, options_for_select(yarn_product.common_weight_select_options, yarn_product.weight_id) %>
  </div>

  <div class='form-group'>
    <%= f.label :referral_link %> <%= f.text_field :referral_link %>
  </div>

  <div class='form-group'>
    <%= f.label :referral_partner %> <%= f.text_field :referral_partner %>
  </div>

  <div class='form-group'>
    <%= f.label :description %> <%= f.text_area :description %>
  </div>

  <div class='form-group'>
    <%= f.label :image, 'Add a picture' %> <%= f.file_field :image %>
    <p class='text-muted'><small><%= image_attribution_notice %></small></p>
  </div>

  <%= f.submit 'Add yarn to database' %>
<% end %>
