<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-xl-2 col-lg-2">
    <h1 class="my-4">Yarn Database</h1>

    <h2 class='my-2'>Search</h2>
    <div>
      <%= search_form_for @q do |f| %>
        <div class='form-group'>
          <%= f.label :name_cont, 'Yarn name contains' %>
          <%= f.search_field :name_cont, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :yarn_company_name_cont, 'Yarn maker name contains' %>
          <%= f.search_field :yarn_company_name_cont, class: 'form-control' %>
        </div>

        <%= f.submit 'Search', class: 'btn btn-primary mt-2' %>
      <% end %>
    </div>

    <h2 class='mt-4'>Sort by</h2>
    <div><%= sort_link(@q, :name, 'Yarn name') %></div>
    <div><%= sort_link(@q, :yarn_company_name, 'Yarn maker name') %></div>
    <div><%= sort_link(@q, :created_at) %></div>

    <div class="my-4 list-group">
      <%= link_to 'Add new yarn', new_yarn_product_path, class: 'list-group-item' %>
    </div>
  </div>

  <div class="col-10">

    <div class="row">

      <% @yarn_products.each do |product| %>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class='square-container'>
            <% unless product.image.blank? %>
              <%= image_tag(product.thumb_image, class: 'card-img-top') %>
            <% end %>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to product.name_with_company, yarn_product_path(product), class: 'stretched-link' %>
            </h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <!-- /.row -->

    <div class='row'><div class='col'><%= page_entries_info(@yarn_products, entry_name: 'items') %></div></div>
    <div class='row'><div class='col'><%= paginate @yarn_products %></div></div>

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->

