<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-lg-3">
    <h1 class="my-4">Yarn Database</h1>
    <div class="list-group">
      <%= link_to 'Add Yarn', new_yarn_product_path, class: 'list-group-item' %>
    </div>
  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">

    <div class="row">

      <% @yarn_products.each do |product| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <% unless product.image.blank? %>
            <div class='square-container'>
              <%= image_tag(product.thumb_image, class: 'card-img-top') %>
            </div>
          <% end %>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to product.name_with_company, yarn_product_path(product), class: 'stretched-link' %>
            </h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <!-- /.row -->

    <div class='row'><div class='col'><%= page_entries_info(@yarn_products, entry_name: 'items') %></div></div>
    <div class='row'><div class='col'><%= paginate @yarn_products %></div></div>

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->

