<h1><%= @yarn_product.name_with_company %> <%= link_to icon('far', 'edit'), edit_yarn_database_path(@yarn_product) %></h1>

<div class='row'>
  <div class='col'>
    <% unless @yarn_product.image.blank? %>
      <%= image_tag @yarn_product.full_image, class: 'img-fluid border border-primary rounded' %>
    <% end %>

    <div><strong><%= @yarn_product.skein_yards %></strong> yards / <strong><%= @yarn_product.skein_gram_weight %></strong> grams per skein</div>

    <div><strong><%= @yarn_product.fiber_type_name %></strong> fiber</div>

    <div><strong><%= @yarn_product.common_weight %></strong> weight</div>
  </div>
</div>
