<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, strikethrough: true) %>

<h1>
  <%= @yarn_product.name_with_company %>
  <%= link_to icon('far', 'edit'), edit_yarn_product_path(@yarn_product) %>
</h1>

<div class='row'>
  <div class='col'>
    <% unless @yarn_product.image.blank? %>
      <%= image_tag @yarn_product.full_image, class: 'img-fluid border border-primary rounded' %>
      <%= @yarn_product.image.image_attribution %>
    <% end %>
  </div>
  <div class='col'>
    <div class='my-1'>
      <strong><%= @yarn_product.skein_yards %></strong> yards /
      <strong><%= @yarn_product.skein_gram_weight %></strong> grams per skein
    </div>

    <div class='my-1'><strong><%= @yarn_product.common_weight %></strong> weight</div>

    <% if @yarn_product.fiber_content.any? %>
      <div class='my-1'><%= @yarn_product.fiber_content.join(', ') %></div>
    <% else %>
      <div><strong><%= @yarn_product.fiber_type_name %></strong> fiber</div>
    <% end %>

    <% unless @yarn_product.referral_link.blank? || @yarn_product.referral_partner.blank? %>
      <div class='my-3'>
        <%= link_to "Buy at #{@yarn_product.referral_partner}",
                    @yarn_product.referral_link,
                    class: 'btn btn-outline-primary', target: '_blank' %>
        <small><%= Rails.configuration.skeinlink[:referral_disclaimer] %></small>
      </div>
    <% end %>

    <hr>

    <% unless @yarn_product.description.blank? %>
      <div><%= ActiveSupport::SafeBuffer.new(markdown.render @yarn_product.description) %></div>
    <% end %>
  </div>
</div>

<hr>

<h4>
  Colorways
  <a class='btn btn-outline-primary btn-sm' data-toggle='collapse' href='#colorwayForm'
     role='button' aria-expanded='false' aria-controls='colorwayForm'>New colorway</a>
</h4>

<div class='collapse' id='colorwayForm'>
  <%= render 'colorways/form', yarn_product: @yarn_product, colorway: Colorway.new %>
</div>

<div class='row'>
  <% @yarn_product.colorways.each do |c| %>
    <div class='col-6 col-md-2 mb-4'>
      <div class='card h-100'>
        <% unless c.image.blank? %>
          <div class='square-container'>
            <%= image_tag(c.thumb_image, class: 'card-img-top', title: c.image.image_attribution) %>
          </div>
        <% end %>
        <div class='card-body'>
          <span class='card-title'><%= c.number %> <%= c.name %></span>
          <%= link_to icon('far', 'edit'), edit_yarn_product_colorway_path(yarn_product_id: @yarn_product.id, id: c.id) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class='container'>
  <%= link_to 'Add More Yarn', new_yarn_product_path, class: 'btn btn-primary' %>
</div>
