<%= form_with(model: [:admin, user], local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :name, 'Display name' %>
    <%= f.text_field :name, class: 'form-control' %>
    <small class='form-text text-muted'>This is visible to everyone</small>
  </div>

  <div class='form-group'>
    <%= f.label :email, 'Email address' %>
    <%= f.text_field :email, class: 'form-control' %>
    <small class='form-text text-muted'>Only the crafter and administrators can see this</small>
  </div>

  <div class='form-group'>
    <%= f.label :about_me %>
    <%= f.text_area :about_me, class: 'form-control' %>
    <small class='form-text text-muted'>This is visible to everyone</small>
  </div>

  <%= f.submit 'Update crafter profile', class: 'btn btn-primary' %>
  <%= link_to 'Cancel and go back', admin_users_path, class: 'btn btn-secondary' %>
<% end %>
