<div class='container'>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= link_to user.email, edit_admin_user_path(user) %></td>
          <td><%= user.active %></td>
          <td><%= user.active ? link_to('Deactivate', disable_admin_user_path(user)) : link_to('Activate', enable_admin_user_path(user)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class='row'><div class='col'><%= page_entries_info(@users, entry_name: 'items') %></div></div>
<div class='row'><div class='col'><%= paginate @users %></div></div>
