<p id="notice"><%= notice %></p>

<h1>Yarns</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yarns.each do |yarn| %>
      <tr>
        <td><%= link_to 'Show', yarn %></td>
        <td><%= link_to 'Edit', edit_yarn_path(yarn) %></td>
        <td><%= link_to 'Destroy', yarn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yarn', new_yarn_path %>
