<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.skeinlink[:community_name] %> SkeinLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg navbar-dark bg-primary py-1'>
      <div class='container'>
        <a class='navbar-brand' href='<%= root_path %>'><%= Rails.configuration.skeinlink[:community_name] %> SkeinLink</a>

        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarResponsive'>
          <ul class='navbar-nav ml-auto'>
            <li class='nav-item active'>
              <a class='nav-link' href='<%= root_path %>'>Home
                <span class='sr-only'>(current)</span>
              </a>
            </li>
            <li class='nav-item'>
              <%= link_to 'All Projects', projects_path, class: 'nav-link' %>
            </li>
            <% if user_signed_in? %>
              <li class='nav-item'>
                <%= link_to 'My Projects', projects_crafter_path(current_user.id), class: 'nav-link' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'My Stash', stash_yarns_path, class: 'nav-link' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'Yarn Database', yarn_products_path, class: 'nav-link' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'Yarn Companies', yarn_companies_path, class: 'nav-link' %>
              </li>
              <% if current_user.admin? %>
                <li class='nav-item'>
                  <%= link_to 'Admin CP', admin_users_path, class: 'nav-link' %>
                </li>
              <% end %>
              <li class='nav-item'>
                <%= link_to 'My Profile', crafter_path(current_user.id), class: 'nav-link' %>
              </li>
              <li>
                <%= link_to('Logout', destroy_user_session_path, class: 'nav-link', method: :delete) %>
              </li>
            <% else %>
              <li>
                <%= link_to('Login', new_user_session_path, class: 'nav-link', method: :post) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% container_class = content_for?(:content) ? 'container-fluid' : 'container' %>
    <div class='<%= container_class %> py-3'>
      <% if notice %>
        <div class='alert alert-info alert-dismissible fade show'>
          <%= notice %>
          <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'>
          </button>
        </div>
      <% end %>
      <% if alert %>
        <div class='alert alert-danger alert-dismissible fade show'>
          <%= alert %>
          <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'>
          </button>
        </div>
    <% end %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <footer class='py-1 bg-primary'>
      <div class='container'>
        <p class='m-0 text-center text-white'>SkeinLink is free and open source software by <u><a class='text-white' href='https://athebynecraftworks.com' target='_blank'>Heather Athebyne</a></u>. Check out the source on <u><a class='text-white' href='https://github.com/heatherathebyne/skeinlink' target='_blank'>GitHub</a></u>.</p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
</html>
